.red {
    background-color: red;
    color: #000000;
}

.green {
    background-color: green;
    color: #000000;
}

.blue {
    background-color: blue;
    color: #ffffff;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}